/* Main style colors, fonts, borders... */
:root {
	--font-hover: rgb(255 215 0);
	--font-bright: rgb(255, 255, 255);
	--font-dark: rgb(18, 5, 5);
    --backgr-blk:rgb(18, 5, 5)
}

/* Header Navigation */
header {
	height: 100px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo > img {
	height: 80px;
}
.menu-list {
	color: var(--font-bright);
	display: flex;
	gap: 25px;
	margin-right: 40px;
	font-size: 1.3rem;
	text-transform: uppercase;
}
.menu-list a {
	text-decoration: none;
	color: inherit;
	transition: 0.7s ease;
}
.menu-list a:hover {
	color: var(--font-hover);
	border-bottom: 1px solid var(--font-hover);
}
.active-page {
	border-bottom: 1px solid var(--font-hover);
}

.hamburger {
	display: none;
	cursor: pointer;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--font-bright);
}

@media only screen and (max-width: 768px) {
    .hamburger{
        display: block;
        margin-right: 30px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg)
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg)
    }
    .menu-list {
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: var(--backgr-blk);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .menu-list li{
        padding: 25px;
    }
    .menu-list.active {
        left: 0;
    }
}

section{
    height: 20vh;

}


/* FOOTER */

.footer{
    background-color: var(--backgr-blk);
    

}