/* Main style colors, fonts, borders... */
:root {
	--font-hover: rgb(255 215 0);
	--font-bright: rgb(255, 255, 255);
	--font-dark: rgb(18, 5, 5);
	--backgr-blk: rgb(18, 5, 5);
}
h1,
h2,
h3,
h4,
h5,
h5 {
	text-transform: uppercase;
}
body {
	font-family: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,500&display=swap");

/* Header Navigation */
header {
	height: 100px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo > img {
	height: 80px;
}
.menu-list {
	color: var(--font-bright);
	display: flex;
	gap: 25px;
	margin-right: 40px;
	font-size: 1.3rem;
	text-transform: uppercase;
}
.menu-list a {
	text-decoration: none;
	color: inherit;
	transition: 0.7s ease;
}
.menu-list a:hover {
	color: var(--font-hover);
	border-bottom: 1px solid var(--font-hover);
}
.active-page {
	border-bottom: 1px solid var(--font-hover);
}

.hamburger {
	display: none;
	cursor: pointer;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--font-bright);
}

/* History section */

.history-header {
	font-size: 2.5rem;
	font-weight: 600;
	text-align: center;
	margin: 20px 0;
}
.team-history-wrapper {
	display: flex;
	justify-content: space-around;
	font-size: 1.1rem;
}
.team-article {
	width: 70%;
}
.team-article-text,
.players-header p {
	line-height: 1.2;
	letter-spacing: 1px;
	margin: 15px;
}
.trophy-aside h3 {
	font-size: 1.2rem;
	margin: 15px;
	font-weight: 800;
}
.trophy-list li {
	margin: 10px 0;
}
.trophy-list i {
	margin-right: 10px;
	color: var(--font-hover);
}

.stadion img{
	display: block;
	background-image: url('../img/visiting.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 50vh;
	width: 100%;
	
}

/* STARS */
.stars-section h2 {
	text-align: center;
	font-size: 1.8rem;
	margin-top: 20px;
}
.stars-break {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.stars-break img {
	height: 200px;
	margin: 20px;
}

.stadion {
	background-color: var(--backgr-blk);
}
.stadion h3 {
	color: var(--font-bright);
	text-align: center;
	padding: 20px 0;
	font-weight: 600;
}
.stadion img {
	width: 100%;
	max-height: 600px;
}

/* FOOTER */

.footer {
	background-color: var(--backgr-blk);
	color: var(--font-bright);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer a {
	color: var(--font-bright);
	text-decoration: none;
}
.contact-info {
	margin: 25px 0;
	font-size: 1.1rem;
}
.footer-heading {
	font-size: 1.5rem;
	margin-bottom: 10px;
}
.contacts {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.contacts i {
	margin-right: 10px;
}

.social-networks {
	display: flex;

	gap: 2.5rem;
}
.fa-brands {
	font-size: 2.5rem;
}

/* MEDIA QUERRIES */

@media only screen and (max-width: 768px) {
	.hamburger {
		display: block;
		margin-right: 30px;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.menu-list {
		position: fixed;
		left: -100%;
		top: 100px;
		gap: 0;
		flex-direction: column;
		background-color: var(--backgr-blk);
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}
	.menu-list li {
		padding: 25px;
	}
	.menu-list.active {
		left: 0;
	}
	.footer {
		display: flex;
		flex-direction: column-reverse;
	}
	.social-container {
		margin-top: 20px;
	}
	/* history section */

	.team-history-wrapper {
		flex-direction: column;
		align-items: center;
	}
	.team-article {
		width: 100%;
		text-align: center;
	}
	.trophy-aside {
		width: 100%;
		color: var(--font-bright);
		background-color: rgba(0, 0, 0, 0.53);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}

	/* Stars */
	.stars-break img {
		height: 100px;
	}
}

/* PLAYERS PAGE */

.players-header {
	background: url("../img/fc-juventus-stadium-history-header-bg.jpg");

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
	width: 100%;
	text-align: center;
}
.players-header h1 {
	padding: 20px;
	font-size: 2rem;
	font-weight: 800;
}
.players-header-container {
	background-color: rgba(0, 0, 0, 0.613);
	color: var(--font-bright);
	border-radius: 10px;
	width: 80%;
	padding: 15px;
	margin: 0 auto;
}

.players-container {
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 3px;
}
.player-cell {
	overflow: hidden;
	height: 80%;
	text-align: center;
}
.player-cell img {
	width: 100%;
	height: 100%;
	transition: all 0.4s;
}
.player-cell img:hover {
	transform: scale(1.1);
}
.player-name {
	background-color: rgba(0, 0, 0, 0.613);
	color: var(--font-hover);
	padding: 10px;
	border-radius: 5px;
	position: relative;
	top: -12%;
}

@media only screen and (max-width: 768px) {
	.players-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}
@media only screen and (max-width: 500px) {
	.players-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}

/* FANCLUB PAGE FORM */

.fanclub-testimonial {
	padding: 30px;
	text-align: center;
	line-height: 1.2;
	word-spacing: 3px;
}
.fanclub-testimonial h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 20px;
}
.fanclub-testimonial p {
	font-size: 1.3rem;
}

.cta {
	display: grid;
	grid-template-columns: 2fr 1fr;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	background-image: linear-gradient(to right bottom, #0c06013c, #0f0701b3);
	margin: 2rem;
	overflow: hidden;
}
.cta-text-box {
	padding: 2rem;
	color: #45260a;
}
.heading-secondary{
	font-size: 1.5rem;
}
.cta .heading-secondary {
	margin-bottom: 20px;
}

.cta-text {
	font-size: 1.3rem;
	line-height: 1.2;
	margin-bottom: 20px;
}

.cta-img-box {
	background-image: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.23),
			rgba(3, 1, 0, 0.751)
		),
		url("../img/form-fans.webp");
	background-size: cover;
	background-position: center;
}

.cta-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 3.2rem;
	row-gap: 2.4rem;
}

.cta-form label {
	display: block;
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select,
.btn--form {
	width: 80%;
	padding: 1.2rem;
	font-size: 1.2rem;
	border: none;
	background-color: #fdf2e9;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
	color: #aaa;
}

.cta *:focus {
	outline: none;
	box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

@media only screen and (max-width: 1000px) {
	.cta {
		grid-template-columns: 1fr;
	}

	.cta-text-box {
		padding: 3.2rem;
	}

	.cta-img-box {
		height: 20rem;
		grid-row: 1;
	}
}
@media only screen and (max-width: 740px) {
	.cta-form {
		display: grid;
		grid-template-columns: 1fr;
	}
}
